@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
}

.margin50 {
  margin: 50px 0;
}

.padding50 {
  padding: 50px 0;
}

.divider {
  border-bottom: 0px solid rgb(234, 236, 240);
  width: 100%;
}

.dividerTwo {
  border-bottom: 2px solid rgb(234, 236, 240);
  width: 100%;
}

.roundball {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 4px;
  border-radius: 50%;
  background-color: #7FBA7A;
  color: white;
}

.Sidebar {
  width: 230px;
  position: relative;
  background-color: #0D5F50;
  height: 110vh;
  padding: 50px 20px;
  color: #fff;
}
.Sidebar .facility {
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
  padding-left: 10px;
}
.Sidebar .facility p {
  margin: 0;
  font-size: 12px;
  line-height: 22px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.Sidebar .facility img {
  width: 50px;
  margin-right: 10px;
}
.Sidebar .Icons {
  margin-top: 30px;
}
.Sidebar .header {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 5px;
  padding-left: 10px;
  font-family: "Inter", sans-serif;
}
.Sidebar .Top ul {
  margin: 0;
  padding: 0;
}
.Sidebar .Top ul li {
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}
.Sidebar .Top ul li p {
  margin: 0;
  margin-left: 10px;
  font-size: 15px;
  font-family: "Inter", sans-serif;
}
.Sidebar .Top ul li img {
  width: 24px;
}
.Sidebar .Top ul li:hover {
  background-color: rgba(255, 255, 255, 0.5019607843);
  border-radius: 12px;
}
.Sidebar .Last {
  margin-top: 30px;
}
.Sidebar .Last .message-header {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 5px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
}
.Sidebar .Last .message-header p {
  margin: 0;
}
.Sidebar .Last .message-header img {
  width: 24px;
}
.Sidebar .Last .message-header .img {
  position: relative;
}
.Sidebar .Last .message-header .img .roundball {
  background-color: #7FBA7A;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.Sidebar .Last ul {
  margin: 0;
  padding: 0;
}
.Sidebar .Last ul li {
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}
.Sidebar .Last ul li p {
  margin: 0;
  margin-left: 10px;
  font-size: 15px;
  font-family: "Inter", sans-serif;
}
.Sidebar .Last ul li img {
  width: 30px;
}
.Sidebar .Last ul li .img {
  position: relative;
}

.Navbar {
  background-color: #fff;
  max-height: 95px;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.Navbar .title h2 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}
.Navbar .together {
  display: flex;
  align-items: center;
}
.Navbar .together .details {
  display: flex;
  align-items: center;
  box-shadow: 0px 20px 70px 0px rgba(86, 89, 146, 0.1);
  padding: 7px 10px;
  left: 1004px;
  border-radius: 10px;
}
.Navbar .together .details img {
  width: 40px;
}
.Navbar .together .details .img {
  position: relative;
}
.Navbar .together .details .roundballSecondary {
  position: absolute;
  bottom: 5px;
  right: 2px;
  padding: 5px;
  border-radius: 50%;
  background-color: #0D5F50;
  color: white;
}
.Navbar .together .details h3 {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}
.Navbar .together .details p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}
.Navbar .together .utils {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.Navbar .together .utils img {
  width: 21px;
}
.Navbar .together .utils .prof {
  display: flex;
  align-items: center;
  position: relative;
}
.Navbar .together .utils .prof:hover .profile {
  display: block !important;
}
.Navbar .together .utils .bord {
  box-shadow: 0px 4px 15px 0px rgba(216, 210, 252, 0.64);
  padding: 7px;
  border-radius: 13px;
  margin: 0 7px;
  cursor: pointer;
}
.Navbar .together .utils .profile {
  display: none;
  position: absolute;
  top: 41px;
  right: -10px;
  cursor: pointer;
  width: 180px;
  border-radius: 8px;
  border: 1px solid rgb(242, 244, 247);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
}
.Navbar .together .utils .profile .dot {
  display: flex;
  align-items: center;
}
.Navbar .together .utils .profile .dot p {
  margin: 0;
}
.Navbar .together .utils .profile .dot img {
  margin: 0 10px;
  width: 20px;
}

.Partners {
  background-color: rgb(245, 245, 245);
  padding: 20px 0px;
}
.Partners .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.Partners .container img {
  width: 130px;
  margin: 10px;
}

.Footer {
  background: rgb(66, 82, 107);
  padding: 50px 30px;
  padding-bottom: 0;
}
.Footer .cloud img {
  width: 150px;
}
.Footer .cloud p {
  color: rgb(255, 255, 255);
  font-weight: 300;
}
.Footer .cloud .social {
  background-color: #54D4BD;
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
}
.Footer .cloud .social p {
  margin-bottom: 5px;
  font-size: 14px;
  color: #000;
}
.Footer .cloud .social .each {
  display: flex;
  align-items: center;
}
.Footer .cloud .social .each img {
  width: 20px;
  margin: 0 5px;
}
.Footer ul {
  margin: 0;
  padding: 0;
}
.Footer ul li {
  color: #fff;
  margin: 5px;
  font-size: 14px;
}

.ActiveForm {
  display: flex;
}

.ActiveBanner {
  height: 250px;
  background-position: center;
  background-size: cover;
  padding: 50px 0;
  background-image: url(../Assets/ActivitiesForm/Mask\ group.png);
}
.ActiveBanner .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ActiveBanner .arrow p {
  margin: 0;
}
.ActiveBanner .arrow img {
  width: 65px;
}
.ActiveBanner .text {
  font-family: "Playfair Display";
}
.ActiveBanner .text p {
  color: rgb(64, 72, 79);
  font-size: 15px;
}
.ActiveBanner .text h1 {
  font-family: "Playfair Display", serif;
  font-size: 46px;
  font-weight: 700;
  line-height: 62px;
  letter-spacing: 0px;
  text-align: center;
}

.ActiveOutline {
  background: rgb(255, 255, 255);
  padding: 30px;
}

.ActiveFormSection {
  background-color: #fff;
  box-shadow: 0px 4px 40px 0px rgba(13, 149, 137, 0.1);
}
.ActiveFormSection .relative {
  height: 70px;
  border-bottom: 3px solid rgb(234, 236, 240);
  position: relative;
}
.ActiveFormSection .headers {
  position: absolute;
  right: 20px;
  height: 100px;
}
.ActiveFormSection .headers .report {
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  background-color: #0D5F50;
  width: 150px;
  padding: 7px 15px;
  text-align: right;
  right: 20px;
}
.ActiveFormSection .headers .report p {
  margin: 0 !important;
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 12px;
  font-weight: 300;
  margin-left: 10px;
}
.ActiveFormSection .headers .report img {
  width: 20px;
  margin-right: 10px;
}
.ActiveFormSection .headers .date {
  display: flex;
  align-items: center;
}
.ActiveFormSection .headers .date p {
  margin: 0 5px;
  font-size: 12px;
  font-weight: 300;
  color: rgb(102, 112, 133);
}
.ActiveFormSection .headers .date img {
  width: 20px;
  margin-right: 10px;
}
.ActiveFormSection .form .sett {
  padding-top: 20px;
}
.ActiveFormSection .form .sett .formss {
  cursor: pointer;
  margin: 10px 0;
  position: relative;
}
.ActiveFormSection .form .sett .formss:hover .testDropdown {
  display: block !important;
}
.ActiveFormSection .form .sett .formss .label {
  font-size: 15px;
  margin-bottom: 3px;
  font-weight: 300;
}
.ActiveFormSection .form .sett .formss .inputt {
  border: 1px solid rgba(99, 119, 138, 0.5);
  border-radius: 10px;
  height: 45px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
}
.ActiveFormSection .form .sett .formss .inputt::-moz-placeholder {
  color: rgba(99, 119, 138, 0.5) !important;
}
.ActiveFormSection .form .sett .formss .inputt::placeholder,
.ActiveFormSection .form .sett .formss .inputt .placeholder {
  color: rgba(99, 119, 138, 0.5) !important;
}
.ActiveFormSection .form .sett .formss .inputt p {
  margin: 0;
  color: rgba(99, 119, 138, 0.5) !important;
  font-weight: 300;
  font-size: 13px;
}
.ActiveFormSection .form .sett .formss .inputt img {
  width: 12px;
}
.ActiveFormSection .form .sett .testDropdown {
  background-color: #fff;
  width: 100%;
  display: none;
  border-radius: 5px;
  position: absolute;
  border: 1px;
  gap: 8px;
  border: 1px solid rgb(230, 232, 236);
  box-shadow: 0px 4px 16px 0px rgba(20, 25, 26, 0.08);
}
.ActiveFormSection .form .sett .testDropdown img {
  width: 12px;
}
.ActiveFormSection .form .sett .testDropdown .header {
  padding: 7px 15px;
  border-bottom: 1px solid rgb(230, 232, 236);
}
.ActiveFormSection .form .sett .testDropdown .header p {
  margin: 0;
  font-size: 13px;
  font-weight: 300;
}
.ActiveFormSection .form .sett .testDropdown .each {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  cursor: pointer;
}
.ActiveFormSection .form .sett .testDropdown .each input {
  width: 15px;
  height: 15px;
}
.ActiveFormSection .form .sett .testDropdown .each p,
.ActiveFormSection .form .sett .testDropdown .each label {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
}
.ActiveFormSection .form .sett .testDropdown .each .amount {
  display: flex;
  align-items: center;
}
.ActiveFormSection .form .sett .testDropdown .each .form-check-input:checked {
  background-color: #54D4BD !important;
  border-color: #54D4BD !important;
}
.ActiveFormSection .form .sett .testDropdown .each:hover {
  background: rgb(238, 255, 252);
}
.ActiveFormSection .form .sett .testDropdown .each:hover .form-check-input {
  background-color: rgb(238, 255, 252);
  border: 1px solid #54D4BD;
  --bs-form-check-bg: white !important;
}
.ActiveFormSection .form .deduction {
  margin: 30px 0;
}
.ActiveFormSection .form .deduction h2 {
  font-size: 23px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  margin: 0;
}
.ActiveFormSection .form .deduction p {
  font-size: 15px;
  margin-bottom: 2px;
  color: rgb(102, 112, 133);
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
}/*# sourceMappingURL=style.css.map */