@tailwind base;
@tailwind components;
@tailwind utilities;

/* pagination */
.MuiTablePagination-displayedRows {
  display: none;
}

.MuiTablePagination-input {
  margin-right: 0 !important;
}

.ce-form select {
  border: 1px solid rgba(99, 119, 138, 0.5);
  border-radius: 8px;
  height: 40px;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
}

input,
select,
textarea {
  width: 100%;
}

.react-select input[type="text"] {
  height: unset;
}
